<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.practice.dao.MemberDAO">

	<select id="login" parameterType="HashMap" resultType="kr.project.practice.dto.MemberDTO">
			SELECT * FROM members WHERE id = #{id} AND pw = #{pw}
	</select>

	<select id="overlay" parameterType="String" resultType="kr.project.practice.dto.MemberDTO">
			SELECT * FROM members WHERE id = #{param1}
	</select>

	<insert id="join" parameterType="HashMap">
			INSERT INTO members (id, pw, name, age, gender, email) VALUES (#{id},#{pw},#{name},#{age},#{gender},#{email})	
	</insert>

	<select id="memberlist" resultType="kr.project.practice.dto.MemberDTO">
			SELECT * FROM members
	</select>

	<delete id="memdelete">
		DELETE FROM members WHERE id = #{param1}
	</delete>

</mapper>